.store-home {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .title{
    font-size: 50px;
    font-weight: 300;
    color: var(--skfb-white, #fff);
  }
  .subtitle{
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 27px;
    color: hsla(0,0%,100%,.9098);
    color: var(--skfb-white-transparent,hsla(0,0%,100%,.9098));
    font-weight: 400;
  }
  p{
    color: var(--skfb-white, #fff);
  }
  .store-intro{
    position: relative;
    min-height: 740px;
    max-height: 850px;
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0);
    //background: linear-gradient(45deg,#3e081c,#ff4489);
    //background-image: linear-gradient(45deg, rgb(62, 8, 28), rgb(255, 68, 137));
    //background-image: linear-gradient(45deg, #ffffff, #1d88eb);
    //background-image: url("http://head.xxroom.xyz/FoZf6-oQVzGJwT1-bVKwc-YnWxUZ");
    //background-size: 100% 100%;

    /*background-position-x: initial;*/
    /*background-position-y: initial;*/
    /*background-size: initial;*/
    /*background-repeat-x: initial;*/
    /*background-repeat-y: initial;*/
    /*background-attachment: initial;*/
    /*background-origin: initial;*/
    /*background-clip: initial;*/
    /*background-color: initial;*/
    .part1{
      max-width: 1130px;
      margin: 0 auto!important;
      width: calc(100% - 60px);
      position: relative;
      flex: 1
    }
  }

  .store-intro__logo {
    position: absolute;
    z-index: 0;
    opacity: .05;
    top: 0;
    left: 75%;
    transform: translate(calc(-50% - 500px), -20%);
    height: 250%;
    pointer-events: none;
  }
  .s_category_position{
    z-index: 1;
    pointer-events: all;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
  }
  .s_category{
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    background: hsla(0,0%,100%,.1);
    border-radius: 3px;
    overflow: hidden;
    padding: 0 20px;
    position: absolute;
    top: -95px;
    .s_category_li{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      a{
        padding: 15px;
        font-size: 14px;
        font-weight: 700;
        color: hsla(0,0%,100%,.9098);
        color: var(--skfb-white-transparent,hsla(0,0%,100%,.9098));
        span{
          display: block;
          font-weight: 400;
          font-size: 12px;
          white-space: nowrap;
        }
      }
    }
  }
}
